/* Main section styling */
section#main {
    height: calc(100vh - 50vh);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #fff;
    padding: 20px; /* Added padding for mobile */
}

/* Heading styling */
#main h1,
h1 {
    margin-top: 250px;
    font-size: 5vh; /* Scales with viewport height */
    margin-bottom: 1rem;
    color: #4aa8c5;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    font-weight: bold;
    text-align: center;
}

/* Paragraph styling */
#main p {
    font-size: 3vh; /* Scales with viewport height */
    font-style: italic;
    color: #4aa8c5;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    font-weight: bold;
    text-align: center;
}

/* Join button styling */
.join {
    width: 40vh; /* Responsive width */
    height: 10vh; /* Responsive height */
    border-color: #5db354;
    border-style: solid;
    border-radius: 10px;
    background-color: #73e269;
    transition: .2s ease;
    font-weight: bold;
    color: #fff;
    font-size: 6vh; /* Responsive font size */
    margin: 250px auto; /* Centered and spaced below the top text */
    display: flex;
    justify-content: center;
    align-items: center;
}

.join:hover {
    scale: 1.1;
    border-color: #73e269;
    background-color: #5db354;
}

.join:active {
    scale: 0.8;
}

.countdown {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    font-size: 2.5rem; /* Adjusted to fit better */
    color: #fff;
}

.time-unit {
    margin: 0 20px;
    text-align: center;
}

.time-unit span {
    display: block;
    font-size: 5vh;
    font-weight: bold;
    color: #4aa8c5;
}

.label {
    font-size: 1.2rem;
    color: #4aa8c5;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    font-weight: bold;
    text-align: center;
}

/* Add spacing below the countdown */
.countdown-container {
    margin-bottom: 20px;
}

/* Mobile Friendly Styles */
@media (max-width: 750px) {
    .join {
        margin-top: 40vh;
    }

    .countdown {
       font-size: small;
    }

    .time-unit span {
        font-size: 4vh;
     }
}

@media (max-width: 600px) {
    .join {
        margin-top: 50vh;
    }

    .countdown {

        font-size: small;
    }

    .time-unit span {
        font-size: 3vh;
     }

     .time-unit {
        margin: 0 10px;
    }
}

@media (max-width: 550px) {
    .time-unit span {
        font-size: 2.3vh;
     }

     .time-unit {
        margin: 0 8px;
    }
}

@media (max-width: 500px) {
    .time-unit span {
        font-size: 2vh;
     }

     .time-unit {
        margin: 0 5px;
    }
}